body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  background-color: #010008;
  padding: 10px 0;
  text-align: center;
  color: white;
}
nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
nav a {
  text-decoration: none;
  color: #5c5e5c;
  font-weight: bold;
  margin: 0 15px;
}
nav a:hover {
  text-decoration: underline;
}
main {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}
.content-frame {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #fafafa;
}
h1 {
  color: #f7f7f7;
}
h2, h3, p, label {
  font-size: 16px;
}
.form-group {
  margin: 15px 0;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Adjust for padding and border */
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}